body {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

h1, span {
    color: red;
}

#p1 {
    color: white;
    background-color: blue;
    width: 150px;
}

h2 {
    color: white;
    background-color: green;
}

.h2 {
    padding: 40px;
}

#p4 {
    margin-left: 200px;
}

li {
    font-size: 1.5em;
    border: 3px inset black;
}