body {
    padding: 0;
    margin: 0;
}

header {
    background: linear-gradient(#4EBEFE, #378FD9);
    /* width: 100%; */
}

.container {
    width: 1180px;
    margin: 0px auto;
}

.logo {
    margin-top: 60px;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.text_wrapper {
    padding-top: 140px;
    height: 500px;
    box-sizing: border-box;
    text-align: left;
}

h1 {
    font-weight: 700;
    font-size: 39px;
    font-family: 'Ubuntu', sans-serif;
}

span {
    font-weight: 700;
    font-size: 59px;
}

.header_p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 390px;
    margin-top: 35px;
    padding-bottom: 43px;
}

/* .btn {
    margin-bottom: 200px;
} */

a {
    /* margin-top: 43px; */
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 900;
    background-color: #FFD429;
    padding: 15px 28px;
}

.section_1_main {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.box_1, .box_2, .box_3 {
    width: 283px;
}

h3 {
    font-weight: 700;
    font-size: 19px;
}

.boxes p {
    font-weight: 400;
    font-size: 15px;
}

.section_2 {
    background: #ECF3F8;
}

.section_2_main {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

form {
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input {
    width: 340px;
    height: 56px;
    margin-top: 16px;
}

.section_btn {
    margin-top: 16px;
}

.section_btn {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 900;
    background-color: #FFD429;
    border: none;
    width: 346px;
    padding: 15px 2px;
    text-align: center;
}

.footer {
    padding-top: 58px;
    padding-bottom: 58px;
    background: #164D7A;
    /* height: 128px; */
}

.inner_footer {
    background: #164D7A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    font-style: 14px;
}