* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.loader1 {
    border: 10px solid #0b0b0b;
}

.loader2 {
    border: solid#0b0b0b;
}

.loader_all {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(175deg);
}

.loader {
    position: absolute;
    /* border: solid#0b0b0b; */
    border-top: 10px solid  #0f0;
    border-left: 10px solid  #0f0;
    border-radius: 50%;
    top: calc(12px * var(--x));
    left: calc(12px * var(--x));
    bottom: calc(12px * var(--x));
    right: calc(12px * var(--x));
    animation: anim 1s alternate ease-in-out infinite;
    filter: hue-rotate(calc(60deg * var(--x)));
    animation-delay: calc(-0.1s * var(--x));
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}